body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background: lightcyan;
    font-family: cursive;
}
.form{
    background-color: aquamarine;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin: 10px;
}
.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: solid 4px silver;
    color: rgb(40, 37, 17);
    border-radius: 5px;
}
.input::placeholder{
    color: lightgray;
    font-family: cursive;
}
.btn{
    background-color: goldenrod;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    cursor: pointer;
}
.btn:hover{
    color: ivory;    
    filter: brightness(0.9);
    font-style: italic;
}
.score{
    color: goldenrod;
    text-align: right;
}